body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    text-size-adjust: initial;
    background-image: linear-gradient(to top left, rgb(255, 0, 0), rgb(25, 0, 255));
    padding-left: 50px;
    padding-right: 50px;
}
h1{
    font-size:40pt;
}
.img{
    position: fixed;
    cursor: pointer;
    width: 6%;
    left: 4%;
    top: 20px;
    background: #0a0a0a57;
    border-radius: 100px;
    
}
p{
    font-size: 150%;
    white-space: pre-line;
}
.corpo{
    text-align: left;
    background: rgba(48, 48, 48, 0.356);
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
#exemplo{
    background: rgba(51, 51, 51, 0.767);
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 15px;
    white-space: pre-line;
    font-size: 70%;
}
.keyword {color: #570031;font-weight: bold;}
.string {color: #ffd901;}
.number {color: #4729f5;}
.function {color: #50fa7b;}
.operator {color: #ab2cff;}
.comment {color: #8f8f8f;font-style: italic;}
.variable {color: #cb7eff;}

@media (max-width: 768px) {
    body{  
    padding-left: 3%;
    padding-right: 3%;
    white-space: pre-line;
}.img{
    width: 10%;
}
    
}