body {background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 174, 255));padding-left: 10px;}
h1{font:normal 130% fantasy;text-align: center;}hr{width: 230px;}
p{font-family: Arial, Helvetica, sans-serif;font-size: 80%;}
a{color: pink;}
.menu{
    position: fixed;
    padding-left: 10px;
    background: rgb(153, 0, 133);
    border-radius: 20px;
    width: 20%;
    height: 95%;
}
.pesquisa{
    font:normal 150% arial;
    background-image: linear-gradient(to bottom right, rgb(114, 0, 167), rgb(240, 2, 208));
    position: absolute;
    top: 3%;
    right: 3%;
    width: 72%;
    height: 60px;
    border-radius: 10px;
    border: solid, 2px, black;
}
.menuOP{
    position: absolute;
    top: 100px;
    right: 40px;
    font: normal 150% arial;
    background-image: linear-gradient(to bottom left, rgb(114, 0, 167), pink);
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.opt{
    background: white;
    padding-left: 10px;
    cursor: pointer;
    width: 95%;
    border: solid, 2px, black;
    border-radius: 20px;
    display: flex;
}
.titulo{
    display: inline-block;
    color: rgb(0, 0, 0) ;
    font:normal 150% arial;
}
.comando{
    padding-top: 10px;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: solid, 2px, black;
}
.dica{
    left: 780px;
    font:normal 130% arial;
    width: 30%;
}